<div class="row">

    <div class="col-lg-12">

        <h4>Meus Pedidos</h4>
        <div ng-show="vmPedidos.pedidos.length === 0" style="text-align: center;">
          <span>Nenhum pedido até o momento.</span>
        </div>
        <table ng-show="vmPedidos.pedidos.length > 0" class="table table-hover">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Data</th>
                    <th>Itens</th>
                    <th>Total</th>
                    <th>
                      Detalhes
                    </th>
                    <th>
                      Download
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pedido in vmPedidos.pedidos | orderBy: 'data'">
                    <td class="linha-carrinho" scope="row">{{pedido.id}}</td>
                    <td class="linha-carrinho" scope="row">{{pedido.data | date: 'dd/MM/yy HH:mm:ss'}}</td>
                    <td class="linha-carrinho" scope="row">{{pedido.itens.length}}</td>
                    <td class="linha-carrinho" scope="row">{{vmPedidos.totalizarPedido(pedido) | currency }}</td>
                    <td class="linha-carrinho">
                      <a href="#!pedido/{{pedido.id}}">Detalhes</a>
                    </td>
                    <td class="linha-carrinho">
                      <a href="#!pedidos" ng-click="vmPedidos.downloadXML(pedido.id)">Download XML</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
